In [1]:
def square(num):
    return num**2

In [2]:
square(2)

4

In [13]:
my_nums = [1,2,3,4]
for item in map(square,my_nums):
    print(item)

1
4
9
16

In [14]:
list(map(square,my_nums))

[1, 4, 9, 16]

In [15]:
def splicer(myString):
    if len(myString)%2 == 0:
        return "EVEN"
    else:
        return myString[0]

In [22]:
names = ["sai shri ram","sai"]

In [23]:
list(map(splicer,names))

['EVEN', 's']

In [24]:
def myEveNum(num):
    return num%2 == 0

In [27]:
myNums = [1,2,3,4,5,6]

In [29]:
# Filters exactly only the conditions
list(filter(myEveNum,myNums))

[2, 4, 6]

In [30]:
list(map(myEveNum,myNums))

[False, True, False, True, False, True]

In [31]:
def square(num):
    result = num**2
    return result

In [32]:
square(2)

4

In [37]:
square = lambda num : num**2

In [38]:
square(3)

9

In [40]:
list(map(lambda num : num**2,myNums))

[1, 4, 9, 16, 25, 36]

In [41]:
names

['sai shri ram', 'sai']

In [42]:
list(map(lambda x:x[::-1],names))

['mar irhs ias', 'ias']